/* Portfolio Item Titles */
.portfolio-item-title {
    text-align: center;
}

/* Kooflix Modal CSS */

#kooflix-button-live {
    margin-right: 10px;
    background-color: #343a40;
}

#kooflix-button-git {
    background-color: #343a40;
}

#kooflix-modal-gif {
    cursor: pointer;
}

/* Tee Times Modal */

#teetimes-gif {
    cursor: pointer;
}

#modal-button-live {
    margin-right: 10px;
    background-color: #343a40;
}

#modal-button-git {
    background-color: #343a40;
}
