/* Portfolio Item Titles */
.portfolio-item-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Kooflix Modal CSS */

#kooflix-button-live {
    margin-right: 10px;
    background-color: #1abc9c;
}

#kooflix-button-git {
    background-color: #1abc9c;
}

#kooflix-modal-gif {
    cursor: pointer;
}

/* Tee Times Modal */

#teetimes-gif {
    cursor: pointer;
}

#modal-button-live {
    margin-right: 10px;
    background-color: #1abc9c;
}

#modal-button-git {
    background-color: #1abc9c;
}

/* About Section */

.about {
    text-align: center;
}

.skills {
    width: 100%;
    border: none;
    border-radius: 16px;
}

#resume-button {
    margin-top: 30px;
    background-color: #1abc9c;
    border: none;
}

/* Social Icons */
#social {
    font-size: 40px;
    color: white;
}

.socials {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 200px;
}
